.form-login {
    border: solid #ddd;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.09);
    border-radius: 20px;
    padding: 36px 34px;
    background-color: #F6F6F6;
    margin-top: 80px;
    width: 75%;

}

.section-login {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}

.form-login h2 {
    font-family: var(--fonteTitulo);
    font-weight: 400;
    font-style: normal;
}

.form-login label, .form-login input::placeholder
{
    font-family: var(--fontTextoCorrido);
    font-weight: 400;
    font-style: normal;
}