.form-login {
    border: solid #ddd;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.09);
    border-radius: 20px;
    padding: 36px 34px;
    background-color: #F6F6F6;
    margin-top: 80px;
    width: 75%;
    
}

.section-login {
   display: flex;
   justify-content: center;

}
