.sectionJogo
{
    text-align: center;
    background-image: url('/public/imagens/fundo.png')
}
.sectionJogo h3
{
    font-size: 2rem;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 3px;
}
.colaboradoes
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}