@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
.sectionJogo
{
    text-align: center;
    background-image: url('/public/imagens/fundo.png')
}
.sectionJogo h3
{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2rem;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 3px;
    margin-top: 20px;
}
.colaboradoes
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
